
<h1>Productos en tiempo real</h1>
<ul id="productList">
    {{#each productos}}
    <li>{{this.title}} - ${{this.price}} <button class="deleteButton" data-id="{{this.id}}">Eliminar</button></li>
    {{/each}}
</ul>

<form id="addProductForm">
    <input type="text" id="productName" placeholder="Nombre del Producto">
    <input type="number" id="productPrice" placeholder="Precio del Producto">
    <button type="submit">Agregar Producto</button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io.connect();

    socket.on('update-products', function (productos) {
        const productList = document.getElementById('productList');
        productList.innerHTML = productos.map(product => 
            `<li>${product.title} - $${product.price} <button class="deleteButton" data-id="${product.id}">Eliminar</button></li>`
        ).join('');
    });

    document.getElementById('addProductForm').addEventListener('submit', function(e) {
        e.preventDefault();
        const productName = document.getElementById('productName').value;
        const productPrice = document.getElementById('productPrice').value;
        socket.emit('add-product', { title: productName, price: parseFloat(productPrice) });
        document.getElementById('productName').value = '';
        document.getElementById('productPrice').value = '';
    });

    document.getElementById('productList').addEventListener('click', function(e) {
        if (e.target && e.target.matches('.deleteButton')) {
            const productId = e.target.dataset.id;
            socket.emit('delete-product', productId);
        }
    });
</script>
